.footer {
  display: none;
  background-color: var(--background-color-white);
  position: fixed;
  z-index: 100;
  overflow-y: auto;

  color: #898989;
  padding: 0;
  top: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 10px;

  .mainNavigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .mainNavigationListPrimary {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #f1f1f1;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;
      padding: 10px;
      white-space: nowrap;

      .iconNavigation {
        height: 20px;
        width: 20px;
        margin: 0;
      }
    }
  }
}

.mainNavigation a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

@media (max-width: 768px) {
  .footer {
    display: block;
  }
}
