.subscribeButton {
  width: 154px;
  height: 40px;
  flex-shrink: 0;
  white-space: nowrap;
  background-color: var(--background-color-red);
  color: var(--text-color-white);
  font-size: 16px;
  border-radius: 20px;

  &hover {
    background-color: #e60000;
  }

  @media (max-width: 568px) {
    width: initial;
    height: initial;
    background: none;
    color: var(--text-color-red);
  }
}
