*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color-white: #ffffff;
  --background-color-red: #ff0000;
  --text-color-white: #ffffff;
  --text-color-grey: #c2c2c2;
  --text-color-black: #19202c;
  --text-color-red: #ff0000;
  --font-family: Mulish, sans-serif;
  --font-size: 13px;
}
button {
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
html {
  font-size: var(--font-size);
}

body {
  background-color: var(--background-color-white);
  color: var(--text-color-grey);
  font-family: var(--font-family);
  min-height: 100vh;
  line-height: 1;
  padding-top: 104px;
}

img {
  width: 100%;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
